EXPO_PUBLIC_API_URL=https://apms-bscq.onrender.com/api
EXPO_PUBLIC_COGNITO_USER_POOL_ID=replace_with_cognito_user_pool_id
EXPO_PUBLIC_COGNITO_CLIENT_ID=replace_with_cognito_client_id
EXPO_PUBLIC_COGNITO_DOMAIN=replace_with_cognito_hosted_ui_domain.auth.ap-southeast-1.amazoncognito.com
